{% extends "master.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">

  $(document).ready(function() {
    var login = $("#{{ form.username.auto_id }}");
    if (!login.val()) login.focus();
  });

</script>
{% endblock %}


{% block content %}

<h1>Log in</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action=".">{% csrf_token %}
<table summary="Login">
<tr><td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td></tr>
<tr><td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td></tr>
</table>

<input type="submit" value="Log in" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<!-- ### So terrible! Fix this atrocity -->
<h1 style="margin-top:0.5em;">OR</h1>

<!-- Do WIND Signin -->
<form method="post" action="https://wind.columbia.edu/login" name="submitwind_loginpage">
  <input type="hidden" name="destination" value="https://{{ request.META.HTTP_HOST }}/wind/">
  <a href="#" onclick="document.submitwind_loginpage.submit();">Sign in with your Columbia ID</a>
</form>

{% endblock %}
